.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 2rem;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--primary);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 4px;
}

.carousel-slide img,
.carousel-slide video {
    border-radius: var(--radius-8);
    width: 100%;
    height: 100%;
    object-fit: cover; /* â¬…ï¸ Ajusta sin deformar */
    display: block;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}